<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom p-0"
  style="background-color: #7c3030 !important;">
  <div class="container-fluid p-0">
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center ml-auto ml-md-0 ">
        <li class="nav-item dropdown">
          <div class="media align-items-center">
            <img class="img-fluid" src="/static/assets/img/brand/Frame3.png" style="height: 40% !important;">
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center  ml-md-auto ">
        <li class="nav-item d-xl-none">
          <!-- Sidenav toggler -->
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>