.actividad{
    box-shadow: none;
}
.actividad .image{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actividad .image i{   
    border-radius: 50%;
    font-size: 6vh;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

.actividad .asignada{
    border: 10px solid #01004B;
}

.actividad .nueva{
    border: 10px solid #14AC07;
}

.tituloActividad{
    font-weight: 500;
    font-size: 16px;
}

.actividad p{
    color: black;
}

