<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <img src="/static/assets/img/icons/logoEducacion.jpg" style="width:350px;">
    <img src="/static/assets/img/icons/logoTNM.png" style="width:150px; margin-left:110px;">
    <br><p><strong>Instituto Tecnológico de Morelia</strong><br>
    Subdirección Académica<br>
    Departamento de Sistemas y Computación</p>
    <p>Morelia Michoacán a 09 de Diciembre del 2022<br>
    OFICIO No. DSC. D. 337/2022<br>
    <strong>ASUNTO: Constancia de actividades complementarias</strong></p>

    <p><strong>MARGARITA LÓPEZ PEREA</strong><br>
    <strong>JEFA DE DEPARTAMENTO DE SERVICIOS ESCOLARES</strong><br>
    <strong>PRESENTE</strong></p>
    <p> Por medio de la presente se hace CONSTAR que de acuerdoa los expedientes de este
    departamento de actividades complementarias, el (la) C. <strong>{{ap}} {{am}}
    {{nombre}}</strong>, alumno del {{tec}}, de la carrera de {{carrera}},
    con el número de control <strong>{{nc}}</strong>, ha cumplido con los CINCO créditos,
    correspondientes a las actividades complementarias, de la siguiente manera:
    <table style="border: hidden; text-align: center; width:100%;">
        <thead style="border: hidden">
            <tr style="border: hidden">
                <td style="border: hidden">ACTIVIDAD</td>
                <td style="border: hidden">N° DE CREDITOS</td>
                <td style="border: hidden">FECHA</td>
            </tr>
        </thead>
        <tbody style="border: hidden">
            <tr style="border: hidden">
                <td style="border: hidden">CREDITO 1</td>
                <td style="border: hidden">1</td>
                <td style="border: hidden">17/12/2022</td>
            </tr>
            <tr style="border: hidden">
                <td style="border: hidden">CREDITO 2</td>
                <td style="border: hidden">1</td>
                <td style="border: hidden">17/12/2022</td>
            </tr>
            <tr style="border: hidden">
                <td style="border: hidden">CREDITO 3</td>
                <td style="border: hidden">1</td>
                <td style="border: hidden">17/12/2022</td>
            </tr>
            <tr style="border: hidden">
                <td style="border: hidden">CREDITO 4</td>
                <td style="border: hidden">1</td>
                <td style="border: hidden">17/12/2022</td>
            </tr>
            <tr style="border: hidden">
                <td style="border: hidden">CREDITO 5</td>
                <td style="border: hidden">1</td>
                <td style="border: hidden">17/12/2022</td>
            </tr>
        </tbody>
    </table>
    <p><strong>CALIFICACIÓN: 5</strong></p>

    <p><br><strong>ATENTAMENTE<br>
    Excelencia en educación tecnologica<br>
    Técnica, Progreso de México</strong></p>
    <p><br><br></p>
    <table style="border: hidden; text-align: center; width:100%">
        <tbody style="border: hidden">
            <tr style="border: hidden">
                <td style="border: hidden">JOSE MANUEL CUIN JACUINDE<br>JEFE DE DEPTO. DE SISTEMAS<br>Y COMPUTACIÓN</td>
                <td style="border: hidden">AURELIO AMAURY CORIA RAMÍREZ<br>JEFE DE PROYECTO DOCENCIA<br>DEPTO. DE SISTEMAS Y COMPUTACIÓN</td>
            </tr>
        </tbody>
    </table>
    <hr size="2px" color="black" style="margin-left:70px; margin-right:70px; margin-top:50px;"/>
    <div style="margin-top:20px; display:inline;">
        <img src="/static/assets/img/icons/logoITM.png" style="width:30px;">
        <img src="/static/assets/img/icons/logoANFEI.png" style="width:33px;">
        <img src="/static/assets/img/icons/logoPony.png" style="width:37px;">
        <div style="display:inline-block; text-align: center;">
            Av. Tecnológico 1500, Col. Lomas de Santiaguito,<br>
            C. P. 58120, Morelia, Michoacán. Tel. (443) 312 15 70,<br>
            Ext. 218, E-mail: desarrollo@morelia.tecnm.mx<br>
            <b>www.tecnm.mx | www.morelia.tecnm.mx</b>
        </div>
        <img src="/static/assets/img/icons/logoPlastico.png" style="width:70px;">
        <img src="/static/assets/img/icons/logoISO.png" style="width:35px;">
    </div>
</body>

</html>