{% extends 'layouts/base.html' %}

{% block title %} Acceso Denegado {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/tutor_grupos.css">
{% endblock stylesheets %}

{% block content %}

<!-- Page content -->
<div class="container-fluid">
    <div class="container text-center">
        <div class="justify-content-center align-items-center">
            <div class="justify-content-center align-items-center my-9">
                <img src="/static/assets/img/icons/error.png" alt="error" style="width:100px;" class="mt-4"><br>
                <span >No tienes acceso a esta funcion</span>
            </div>
        </div>
    </div>

{% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}