<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <img src="/static/assets/img/icons/logoEducacion.jpg" style="width:350px;">
    <img src="/static/assets/img/icons/logoTNM.png" style="width:150px; margin-left:110px;">
    <br><br><p style="text-align: center;"><strong>"2022, año de Ricardo Flores Magón, Precursor de la Revolución Mexicana"</strong></p>
    <p><strong>Instituto Tecnológico de Morelia</strong><br>
    Subdirección de Servicios Administrativos<br>
    Departamento de Recursos Humanos</p>
    <p>Oficio N. D.R.H.- 447/2022</p>
    <p>Morelia Michoacán a {{fecha.day}} de {{fecha.month}} del {{fecha.year}}</p>
    <p><strong>ASUNTO: CONSTANCIA.</strong></p>
    <p><strong>A QUIEN CORRESPONDA:<br>Presente</strong></p>
    <br>
    <p>La que suscribe <strong>Jefa del Departamento de Recursos Humanos</strong> de esta Institución Educativa, <strong>HACE
    <br>CONSTAR</strong> que el (la) C. <strong>{{ap}} {{am}} {{nombre}}</strong> con RFC <strong>{{rfc}}</strong> y CURP 
    <strong>{{curp}}</strong> impartio la materia de tutorias durante el semestre <strong>{{semestre}}</strong> de la carrera 
    <strong>{{carrera}}</strong>.</p>
    
    <p>Los datos que aqui se compulsan, fueron fielmente tomados del expediente personal del interesado,
    <br>mismo que obra en el archivo del Departamento de Recursos Humanos de este Centro de trabajo.</p>
    
    <p>Se extiende la presente constancia, a solicitud del interesado, para los fines legales que estime
    <br>convenientes, en la ciudad de {{ciudad}}, {{estado}}, al mes de {{mes}} del año {{anio}} .</p>
    <p><br><br><strong>ATENTAMENTE<br>
    Técnica, Progreso de México</strong></p>
    <p><br><br><br><br></p>
    <p><strong>C.Liliana Patricia Ferreyra Herrera<br>
    Jefa del Departamento de Recursos Humanos</strong></p>
    <hr size="2px" color="black" style="margin-left:70px; margin-right:70px; margin-top:50px;"/>
    <div style="margin-top:20px; display:inline;">
        <img src="/static/assets/img/icons/logoITM.png" style="width:30px;">
        <img src="/static/assets/img/icons/logoANFEI.png" style="width:33px;">
        <img src="/static/assets/img/icons/logoPony.png" style="width:37px;">
        <div style="display:inline-block; text-align: center;">
            Av. Tecnológico 1500, Col. Lomas de Santiaguito,<br>
            C. P. 58120, Morelia, Michoacán. Tel. (443) 312 15 70,<br>
            Ext. 218, E-mail: desarrollo@morelia.tecnm.mx<br>
            <b>www.tecnm.mx | www.morelia.tecnm.mx</b>
        </div>
        <img src="/static/assets/img/icons/logoPlastico.png" style="width:70px;">
        <img src="/static/assets/img/icons/logoISO.png" style="width:35px;">
    </div>
</body>

</html>