<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <img src="/static/assets/img/icons/logoEducacion.jpg" style="width:350px;">
    <img src="/static/assets/img/icons/logoTNM.png" style="width:150px; margin-left:110px;">
    <br><br><p><strong>Instituto Tecnológico de Morelia</strong><br>
    Subdirección Académica<br>
    Departamento de desarrollo académico</p>
    <p style="text-align: center;"><strong>"2022, año de Ricardo Flores Magón, Precursor de la Revolución Mexicana"</strong></p>
    <p>DEPENDENCIA: SUBD. ACADÉMICA<br>
    SECCIÓN: DESARROLLO ACADÉMICO<br>
    OFICIO: D.A.009.554/2022</p>
    <p>Morelia Michoacán a 06 de Diciembre del 2022</p>
    <p><strong>ASUNTO: Liberación de créditos complementarios</strong></p>
    <p><strong>A QUIEN CORRESPONDA</strong></p>
    <br>
    <p>La que suscribe Jefa del Departamento de Desarrollo Académico por medio del
    <br>presente, hago constar que el (la) C. <strong>{{ap}} {{am}} {{nombre}}</strong> alumno(a) de
    <br>nuestro Instituto con el número de control <strong>{{nc}}</strong> de la carrera <strong>{{carrera}}</strong>, asistió; a tutorias durante el semestre <strong>Agosto -
    <br>diciembre 2022</strong>, siendo su tutor el (la) C. Profesor(a) <strong>{{tutorap}} {{tutoram}} {{tutorn}}.</strong></p>
    
    <p>Se extiende la presente con la finalidad de que le sea acreditado un créditos 
    <br>complementario en base a acuerdo con el Comité; Académico. Sin mas por el momento 
    <br>quedo a sus ordenes para cualquier aclaración.</p>
    <p><br><br><strong>ATENTAMENTE<br>
    Técnica, Progreso de México</strong></p>
    <p><br><br><br><br></p>
    <p><strong>C.Liliana Patricia Ferreyra Herrera<br>
    Jefa del Departamento de Desarrollo Académico</strong></p>
    <hr size="2px" color="black" style="margin-left:70px; margin-right:70px; margin-top:50px;"/>
    <div style="margin-top:20px; display:inline;">
        <img src="/static/assets/img/icons/logoITM.png" style="width:30px;">
        <img src="/static/assets/img/icons/logoANFEI.png" style="width:33px;">
        <img src="/static/assets/img/icons/logoPony.png" style="width:37px;">
        <div style="display:inline-block; text-align: center;">
            Av. Tecnológico 1500, Col. Lomas de Santiaguito,<br>
            C. P. 58120, Morelia, Michoacán. Tel. (443) 312 15 70,<br>
            Ext. 218, E-mail: desarrollo@morelia.tecnm.mx<br>
            <b>www.tecnm.mx | www.morelia.tecnm.mx</b>
        </div>
        <img src="/static/assets/img/icons/logoPlastico.png" style="width:70px;">
        <img src="/static/assets/img/icons/logoISO.png" style="width:35px;">
    </div>
</body>

</html>